body{
    background-color: rgb(114, 185, 233);
    
}

header{
    text-align: center;
}

.w-100 {
    width: 45%!important;
    margin-left: 45px;
    
}

.campos_formulario_registro, p{
    text-align: center;
}

#divPadre {
    text-align:center;
}

#divHijo {
    margin:0px auto;
}